.load-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;

  .product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;

    .product {
      width: 350px;
      padding: 20px;
      border: 1px solid #575454;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 10px;

      img {
        width: 200px;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
      }

      h3 {
        margin: 0px;
      }

      p {
        font-size: 17px;
        color: #333;
        text-align: center;
        font-size: 600;
      }
    }
  }

  .load-btn button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  && :disabled {
    cursor: not-allowed;
    background-color: #ccc;
    color: #333;
    border: none;
    opacity: 0.6;
    pointer-events: none;
  }
}
